@* Read-only list of past journal entries *@
<div class="entry-history">
<h3>Past Entries</h3>
    <!-- TODO: Render list of entries, show prompt, response, mood, timestamp -->
    <p>[Entry list UI goes here]</p>
</div>

@code {
    // TODO: Bind to journal entry data from backend
}