@* Calendar view for journal entries, color-coded by mood *@
<div class="journal-calendar">
    <h3>Journal Calendar</h3>
    <!-- TODO: Render calendar grid, color-code days by mood -->
    <p>[Calendar UI goes here]</p>


</div>

@code {
    // TODO: Bind to journal entry/mood data from backend
}